{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script",
        "ecmaFeatures": {
            "jsx": false
        }
    },
    "rules": {
        "semi": "error",
        "no-var":"error",
        "block-scoped-var":"error"
    }
}