{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="col s12 l12">
    <div class="card grey lighten-5">
        <div class="card-content">
            <div class="card-image">
              <img src="/static/assets/img/members_flat.jpg">
              <span class="card-title">Reset your password<i class="material-icons left">verified_user</i></span>
            </div>
            <br/>

            {% if validlink %}

              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn light-blue darken-4 waves-effect waves-light" type="submit">Submit
                    <i class="material-icons right">send</i>
                </button>
              </form>
            {% else %}
              <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
              </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
