{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="col s12 l12">
    <div class="card grey lighten-5">
        <div class="card-content">
            <div class="card-image">
              <img src="/static/assets/img/members_flat.jpg">
              <span class="card-title">Reset your password<i class="material-icons left">verified_user</i></span>
            </div>
            <br/>
        Your password has been set. You may <a href="{% url 'login' %}">log in</a> with your new password.
        </div>
    </div>
</div>
{% endblock %}
