{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}


{% block content %}
<div class="col s12 l12">
    <div class="card grey lighten-5">
        <div class="card-content">
            <div class="card-image">
              <img src="/static/assets/img/members_flat.jpg">
              <span class="card-title">Reset your password<i class="material-icons left">verified_user</i></span>
            </div>
            <br/>

            We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
        </div>
    </div>
</div>
{% endblock %}
