certifi
chardet
cmsplugin-filer
Django
django-appconf
django-classy-tags
django-cms
django-filer
django-formtools
django-js-asset
django-letsencrypt
django-mptt
django-polymorphic
django-sekizai
django-treebeard
djangocms-admin-style
djangocms-attributes-field
djangocms-column
djangocms-googlemap
djangocms-link
djangocms-snippet
djangocms-style
djangocms-text-ckeditor
djangocms-video
easy-thumbnails
mysqlclient
html5lib
idna
Pillow
pytz
requests
six
Unidecode
urllib3
virtualenv
webencodings
