{% extends 'base.html' %}

{% block title %} 404 - Page Not Found {% endblock %}

{% block content %}
<div class="col s12 l6">
    <div class="card grey lighten-5">
    <div class="card-image">
        <img src="/static/assets/img/lost.jpg">
        
    </div>

    <div class="card-content">
          <span class="card-title"> 404 - Page Not Found </span>
        Uh oh! Looks like you got lost. Why don't I take you back to the <a href="/common-room/">Common Room</a>?
    </div>
</div>
</div>
{% endblock %}
