{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="col s12 l6">
    <div class="card grey lighten-5">
        <div class="card-content">
            <div class="card-image">
              <img src="/static/assets/img/members_flat.jpg">
              <span class="card-title">Your Profile <i class="material-icons left" style="">perm_identity</i></span>
            </div>
            <br/>
            <form method="post" action="{% url 'update_profile' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td class="input-field">
                        <input id="id" maxlength="254" name="id" class="validate" type="text" value="{{ request.user.id }}" />
                        <label for="id">ID</label>
                    </td>
                </tr>
                <tr>
                    <td class="input-field">
                        <input id="email" maxlength="254" name="email" class="validate" type="text" value="{{ request.user.email }}" />
                        <label for="email">E-mail Address</label>
                    </td>
                </tr>
                <tr>
                    <td class="input-field">
                        <input id="first_name" maxlength="254" name="first_name" class="validate" type="text" value="{{ request.user.first_name }}" />
                        <label for="first_name">First Name</label>
                    </td>
                </tr>
                <tr>
                    <td class="input-field">
                        <input id="last_name" maxlength="254" name="last_name" class="validate" type="text" value="{{ request.user.last_name }}" />
                        <label for="last_name">Last Name</label>
                    </td>
                </tr>

                <tr>
                    <td class="input-field">
                        <input id="department" maxlength="254" name="department" class="validate" type="text" value="{{ request.user.profile.department }}" />
                        <label for="department">Department</label>
                    </td>
                </tr>
            </table>
                <button class="btn waves-effect waves-light" type="submit" value="login" name="action">Update Profile
                    <i class="material-icons right">send</i>
                </button>

                <input type="hidden" name="next" value="/" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
