{% extends 'base.html' %}

{% block title %}Join{% endblock %}

{% block content %}
<div class="col s12 m12 l6">
    <div class="card grey lighten-5">
        <div class="card-content">
            <div class="card-image">
              <img src="/static/assets/img/carousel/members_2017.jpg">
              <span class="card-title">Join Cosmos<i class="material-icons left" style="">perm_identity</i></span>
            </div>
            <br/>
            <p>Your profile information was updated successfully.</p>
        </div>
    </div>
</div>
{% endblock %}
