{% extends 'base.html' %}

{% block title %} {{album.name}} {% endblock %}

{% block content %}
<div class="row">
{% for event in album.photos.data %}
    <div class="col s12 m6 l3">
        <div class="card" style="background-color: gray; ">
            <div class="card-image card-fixed-size materialboxed" style="background-position: center; background-repeat: no-repeat; background-size: cover; background-image: url({{event.images.0.source}})" >
            </div>
        </div>
    </div>
{% endfor %}
</div>

<script type='text/javascript'>




$(document).ready(function(){

    //if breadcrumbs have not ben created yet
    if($("#breadcrumbs").length == 0) {
        // Build breadcrumbs
        html_out = '<nav class="breadcrumbs grey lighten-1"><div class="nav-wrapper"><div class="container"><div class="col s12" id="breadcrumbs">'
        html_out += '<a class="breadcrumb" href="/association/">Association</a>'
        html_out += '<a class="breadcrumb" href="/association/photos">Photos</a>'
        html_out += '<a class="breadcrumb" href="/association/photos/{{ album.id }}">{{ album.name }}</a>'
        html_out += '</div></div></div></nav>'
        $(html_out).insertAfter($('nav').last());

    } else {
        html_out = '<a class="breadcrumb" href="/association/">Association</a>'
        html_out += '<a class="breadcrumb" href="/association/photos">Photos</a>'
        html_out += '<a class="breadcrumb" href="/association/photos/{{ album.id }}">{{ album.name }}</a>'
        $("#breadcrumbs").html(html_out);
    }

    $('.materialboxed').materialbox();



});


</script>

{% endblock %}


