{% load cms_tags %}
<div class="carousel carousel-slider center black" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a href="/join" class="btn waves-effect white black-text darken-text-2">Become a member!</a></a>
    </div>
    <div class="carousel-item red white-text" href="#one!" style='background: url("/static/assets/img/carousel/map.png"); background-size: cover;'>
      <h2>Welcome to Cosmos!</h2>
      <p class="white-text">We are the international student association of Eindhoven University of Technology. <br> We have members from over 80 different countries that represent the growing international community at TU/e.</p>
    </div>
       <div class="carousel-item red white-text" href="#one!" style='background: url("/static/assets/img/carousel/event_diwali.jpg"); background-size: cover;'>
      <div style="background: rgba(0,0,0,0.5);  padding: 10px;">
      <h2>Events</h2>
      <p class="white-text">We organize cultural events for the TU/e Community.</p>
      </div>
    </div>
     <div class="carousel-item red white-text" href="#one!" style='background: url("/static/assets/img/carousel/eindhoven_photo.jpg"); background-size: cover;'>
      <div style="background: rgba(0,0,0,0.5);  padding: 10px;">
      <h2>New student?</h2>
      <p class="white-text">Check out our extensive F.A.Q. with tips for new students!</p>
      </div>
    </div>
       = <div class="carousel-item red white-text" href="#one!" style='background: url("/static/assets/img/carousel/potluck_photo.jpg"); background-size: cover;'>
      <div style="background: rgba(0,0,0,0.5);  padding: 10px;">
      <h2>Our Mission</h2>
      <p class="white-text">We strongly encourage mutual integration between Dutch and international communities.</p>
      </div>
    </div>
</div>

<br/>
<script>
    $(document).ready(function(){
        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            interval: 2000
        });
    });
</script>
